
.col-lg-3{
    border: 1px solid green;
}

.prod_inicio{
    font-size: 12px;
    text-align: center;
}
.pro-titulo{
    font-size: 20px;
    text-align: center;
}

.img-fluid{
    width: 300px;
    height: 300px;

}
.botao-compra{
    background: black;
    border: 1px solid green;
    color: white;
    padding: 5px;
    text-decoration: none;
    font-size: 22px;
    font-family: sans-serif;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top:5px;
    margin-bottom: 5px;
    width: max-content
}