
.col-lg-3{
    border: 1px solid green;

}

.prod_inicio{
    font-size: 15px;
    text-align: center;
}
.pro-titulo{
    font-size: 20px;
    text-align: center;
}

.img-fluid{
    width: 200px;
    height: 200px;

}
.botao-compra{
    margin-left: 40px;
    margin-bottom: 10px;
    background: green;
    color:#fff;
}