{% include 'header.html' %}
{% load static%}


  <section class="container row-fluid">
    <div class="frase">
      <h1 class="h1alinha">Console PlayStation 3 Slim </h1>
      <hr>
      <div class="row">

        <div class="col-lg-6 container">

          <div id="carouselExampleControls" class="carousel slide"
            data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="img-ps3" class="d-block w-100"
                  src="../img/ps3slin.jpg" alt="Primeiro Slide">
              </div>
              <div class="carousel-item">
                <img class="img-ps3" class="d-block w-100"
                  src="../img/ps3slin2.jpg" alt="Segundo Slide">
              </div>
              <div class="carousel-item">
                <img class="img-ps3" class="d-block w-100"
                  src="../img/ps3slin3.jpg" alt="Terceiro Slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls"
              role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls"
              role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Próximo</span>
            </a>
          </div>

        </div>

        <div class="col-lg-3 container">
          <br> Console PlayStation 3 Slim 250GB - Sony.</br>
        <br>
        <p class="prod_inicio"><strong>R$ Preço: </strong>1080,00</p>
        <p>em 12x de R$ 90,00</p>
        <p class="prod_inicio"><strong>Capacidade: </strong>250GB</p>
        <p>O que você precisa saber sobre este produto</p>
        <ul>
          <li>
            <p>Inclui controle.</p>
          </li>
          <li>
            <p>Memória RAM de 256MB.</p>
          </li>
          <li>
            <p>Horas de diversão garantidas.</p>
          </li>
          <li>
            <p>Conta com: 1 cabo usb, 1 cabo av, 1 cabo de alimentação ca.</p>
          </li>
          <li>
            <p>A duração da bateria dos controles depende de como o produto é
              usado. </p>

          </li>
          <div class="sobre">
          <a href="#mais-sobre" ><p >Mais Sobre</a></p>
          </div>
          
        </ul>
      </div>

      <div class="col-lg-3 container color">
        <div class="thumbnail">

          <br>
          <br>
          <p>
            <img class="icones" src="../icons/caminhao.png" alt="">
            <strong class="frete">Frete Grátis!</strong></p>
            <p ><img class="icones" src="../icons/estoque.png" alt=""> <strong>Em Estoque!</strong></p>
          <div>
            <label class="cor-test" for="quantidade"><strong>Quantidade:
              </strong></label>
            <input type="number" id="quantidade" min="1" max="10">
          </div>


          <button href="../rotas/ps3_slin.html" type="button" class="btn-edit">Comprar</button>
          <button href="../rotas/ps3_slin.html" type="button" class="btn-edit">Adicionar
            ao Carrinho</button>
        </div>
        <br>
        <p class="cor-test">Devolução grátis : 7 dias</p>
       <p class="cor-test"> <img class="correto" src="../icons/correto.png" alt=""> Compra Segura!</p>
      </div>


    </div>
  </div>
</section>

<section class="container row-fluid" id="mais-sobre">
  <div class="row">

    <div class="col-lg-12 container">

      <h1> Características do produto</h1>
    </div>
    <div class="col-lg-6 container">
      <p> <img class="icones" src="../icons/capa.png" alt=""> Capacidade 250 GB</p>
      <p><img class="icones" src="../icons/consoles.png" alt=""> Tipo de console
        De mesa</p>
      <p><img class="icones" src="../icons/controle.png" alt=""> Quantidade de
        controles incluídos 1</p>
    </div>
    <div class="col-lg-6 container">
      <p><img class="icones" src="../icons/ram.png" alt=""> Memória RAM 256 MB</p>
      <p><img class="icones" src="../icons/wifi.png" alt=""> Com Wi-Fi Sim</p>
    </div>


  </div>

  <div class="row">

    <div class="col-lg-6 container">
      <strong class="titulo_especi">Características gerais</strong>
      <table>
        <tr>
          <td class="cor-back">
            Marca
          </td>
          <td class="cor-back">
            Sony
          </td>
          </tr>
          <tr>
            <td>
              Linha
              <td> PlayStation</td>
            </td>
          </tr>
          <tr>
            <td class="cor-back">
              Modelo
            </td>
            <td class="cor-back">
              PlayStation 3
            </td>
          </tr>
          <tr>
            <td>
              Submodelo
            </td>
            <td>
              Slim
            </td>
          </tr>
          <tr>
            <td class="cor-back">
              Edição
            </td>
        
            <td class="cor-back">
              Standard
            </td>

          </tr>

        </tr>

      </table>
    </div>
    <div class="col-lg-6 container">
      <strong class="titulo_especi"> Memória</strong>
      <table>
        <tr>
          <td class="cor-back">
            Capacidade
          </td>
          <td class="cor-back">
            500 GB
          </td>
        </tr>
          <tr>
            <td>
              Tipos de memória
              <td>
                XDR, GDDR3
              </td>
            </td>
          </tr>
          <tr>
            <td class="cor-back">
              Memória RAM
            </td>
            <td class="cor-back">
              256 MB
            </td>
          </tr>
          <tr>
            <td>
              Memória VRAM
            </td>
            <td>
              256 MB
            </td>
          </tr>
        </table>
      </div>

      <div class="col-lg-6 container">
        <strong class="titulo_especi">Especificações</strong>
        <table>
          <tr>
            <td class="cor-back">
              Tipo de console
            </td>
            <td class="cor-back">De mesa</td>
          </tr>
            <tr>
              <td>
                Acessórios incluídos
                <td> 1 cabo AV,1 cabo USB,1 cabo de alimentação CA</td>
              </td>
            </tr>
            <tr>
              <td class="cor-back">
                Tipo de alimentação
              </td>
              <td class="cor-back">
                Corrente elétrica
              </td>
            </tr>
            <tr>
              <td>
                Formatos de jogos
              </td>
              <td>
                Blu-ray,DVD,CD,Digital
              </td>
            </tr>
            <tr>
              <td class="cor-back">
                Resolução máxima de saída de vídeo

              </td>
              <td class="cor-back">
                1920 px x 1080 px
              </td>
            </tr>
          </table>
        </div>

        <div class="col-lg-6 container">
          <strong class="titulo_especi">Conectividade</strong>
          <table>
            <tr>
              <td class="cor-back">
                Com Wi-Fi
              </td>
              <td class="cor-back">
                Sim
              </td>
              </tr>
              <tr>
                <td>
                  Com HDMI
                </td>
                <td>
                  Sim
                </td>

              </tr>
              <tr>
                <td class="cor-back">
                  Com USB
                </td>
                <td class="cor-back">
                  Sim
                </td>
              </tr>
              <tr>
                <td>
                  Com S/PDIF
                </td>
                <td>
                  Sim
                </td>
              </tr>
              <tr>
                <td class="cor-back">
                  Com Bluetooth
                </td>
                <td class="cor-back">
                  Sim
                </td>
              </tr>
            </table>

          </div>

          <div class="col-lg-6 container">
            <strong class="titulo_especi">Processador</strong>
            <table>
              <tr>
                <td class="cor-back">
                  CPU
                </td>
                <td class="cor-back">
                  Cell Broadband Engine
                </td>
                </tr>
                <tr>
                  <td>
                    GPU
                  </td>
                  <td>
                    RSX
                  </td>
                </tr>
                <tr>
                  <td class="cor-back">
                    Velocidade do processador
                  </td>
                  <td class="cor-back">
                    3.2 GHz
                  </td>
                </tr>

              </table>

            </div>
            <div class="col-lg-6 container">
              <strong class="titulo_especi"> Controles</strong>
              <table>
                <tr>
                  <td class="cor-back">
                    Inclui controles
                  </td>
                  <td class="cor-back">
                    Sim
                  </td>
                  </tr>
                  <tr>
                    <td>
                      Quantidade de controles incluídos
                    </td>
                    <td>
                      1
                    </td>
                  </tr>
                  <tr>
                    <td class="cor-back">
                      Conectividades dos controles
                    </td>
                    <td class="cor-back">
                      Sem fio
                    </td>
                  </tr>


                </table>

              </div>




            </div>
            <br>
          </section>
          <section >
            <div class="container descri" >
              <h1 class="h1_titu">Descrição</h1>
              <div class="col-lg-12 container">

                <p>Com seu console PlayStation 3 você terá entretenimento
                  garantido todos os dias. Sua tecnologia foi criada para
                  colocar novos desafios para jogadores novatos e especialistas.</p>
                <p>Você não só poderá baixar os melhores videogames e navegar na
                  web sem limites, mas graças à sua interconectividade global,
                  também poderá competir online com seus amigos e pessoas de
                  todo o mundo desfrutando de aventuras inesquecíveis.</p>

                <p>Não só isso, o controle DualShock combina recursos
                  revolucionários e sem precedentes, preservando a precisão,
                  conforto e exatidão em cada movimento.</p>

                <p>Adaptado às suas necessidades</p>
                <p>Salve as suas aplicações, fotos, vídeos e muito mais no disco
                  rígido, que tem uma capacidade de 250 GB.</p>
                <p>Por outro lado, tem uma porta USB e saída HDMI, que permitem
                  conectar acessórios e carregar a bateria do controle enquanto
                  você joga.</p>

                <p>Você poderá reproduzir música, assistir seus filmes e séries
                  favoritos através dos aplicativos para download.</p>
              </div>
            </div>


<br>

          </section>





<footer >
  
 



  <section class="footer_texts">
    
    <div class="container text-center text-md-start mt-2">

      <div class="row mt-3">
      
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
         
          <h6>
           Game Now
          </h6>
          <p>
            Somos uma Empresa voltada para vendas de jogos e consoles.
          </p>
        </div>
   


        
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <h6>
             Navegação
          </h6>
          <p>
            <a href="../index.html" class="text-reset">Home</a>
          </p>
          <p>
            <a href="../rotas/contato.html" class="text-reset">Contato</a>
          </p>
          <p>
            <a href="../rotas/produtos.html" class="text-reset">Produtos</a>
          </p>
    
        </div>
      
     
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <h6 >Contatos</h6>
          <p>Rua Lopes trovão, Benfica, RJ</p>
          <p>
            andrezaoliveira20199@gmail.com
          </p>
          <a href="https://www.facebook.com/" class="me-4 text-reset">
            <img class="icones" src="../icons/facebook.png" alt="">
          </a>
          <a href="https://www.linkedin.com/in/andreza-oliveira-737a23233/" class="me-4 text-reset">
            <img class="icones" src="../icons/linkedin.png" alt="">
          </a>
        <a href="https://github.com/andreza02111" class="me-4 text-reset">
          <img class="icones" src="../icons/github.png" alt="">
        </a>
        </div>
   
      </div>
 
    </div>
    <div class="copy">
    © 2023 Copyright: Andreza Oliveira
  </div>
  </section>


  

</footer>










        </body>
      </html>