{% load static %}
{% include 'header-admin.html' %}
<link rel="stylesheet" href="{% static 'assets/css/index_admin.css' %}">

<div class="col-md-10">
  <div class="content-box-large">
    <div class="panel-heading">
      <div class="panel-title">Editar Dados da Empresa</div>
    </div>

    <div class="panel-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{% url 'EMPRESA_DADOS_URL' %}" class="btn btn-default">Cancelar</a>
      </form>
    </div>
  </div>
</div>
