{% load static %}
{% include 'header-admin.html' %}
<link rel="stylesheet" href="{% static 'assets/css/index_admin.css' %}">


<div class="col-md-10">
  <div class="content-box-large">
    <div class="panel-heading">
      <div class="panel-title">Meus Dados</div>
    </div>
    <div class="panel-body">
      <a href="{% url 'editar_empresa' %}" class="btn btn-warning">Editar Dados</a>
      <div class="section-title"><h3>Empresa</h3></div>
      {% if empresa.imagem %}
        <img src="{{ empresa.imagem.url }}" alt="{{ empresa.nome }}" class="empresa-img">
      {% else %}
        <img src="https://via.placeholder.com/120" alt="Logo da Empresa" class="empresa-img">
      {% endif %}

      <p><span class="info-label">Nome:</span> {{ empresa.nome }}</p>
      <p><span class="info-label">Usuário:</span> {{ empresa.username }}</p>
      <p><span class="info-label">CNPJ:</span> {{ empresa.cnpj }}</p>
      <p><span class="info-label">Inscrição Estadual:</span> {{ empresa.inscricao_estadual }}</p>
      <p><span class="info-label">Tipo de Empresa:</span> {{ empresa.tipo_empresa }}</p>
      <p><span class="info-label">Data de Abertura:</span> {{ empresa.data_abertura|date:"d/m/Y" }}</p>
      <p><span class="info-label">Natureza Jurídica:</span> {{ empresa.natureza_juridica }}</p>
      <p><span class="info-label">Atividade Principal:</span> {{ empresa.atividade_principal }}</p>
      <p><span class="info-label">Endereço:</span> {{ empresa.endereco }}</p>
      <p><span class="info-label">Telefone:</span> {{ empresa.telefone }}</p>
      <p><span class="info-label">Email:</span> {{ empresa.email }}</p>

      <div class="section-title"><h3>Sócio Proprietário</h3></div>
      <p><span class="info-label">Nome:</span> {{ empresa.socio_nome }}</p>
      <p><span class="info-label">CPF:</span> {{ empresa.socio_cpf }}</p>
      <p><span class="info-label">Data de Nascimento:</span> {{ empresa.socio_data_nascimento|date:"d/m/Y" }}</p>
      <p><span class="info-label">Cargo:</span> {{ empresa.socio_cargo }}</p>
      <p><span class="info-label">Telefone:</span> {{ empresa.socio_telefone }}</p>
      <p><span class="info-label">Email:</span> {{ empresa.socio_email }}</p>
    </div>
  </div>
</div>
