<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>MicroMundo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="static\assets\css\index.css"->

</head>
<body>
    <nav class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item">
            <a href="{% url 'BASE_URL' %}" style="text-decoration: none;  color: inherit;">Home</a>
            </li>
            <li class="navbar-item">
            <a href="{% url 'CONTATO_URL' %}" style="text-decoration: none;  color: inherit;">Contatos</a>    
            </li>
            <li class="navbar-item">
            <a href="{% url 'ADMIN_URL' %}" style="text-decoration: none;  color: inherit;">Login</a>
            </li>
        </ul>
    </nav>
    <div class="banner">
        <img src="https://github.com/andreza02111/Imagens--trabalho/blob/Python/imagem2.png?raw=true" alt="Banner">
    </div>
</body>