{% include 'header-admin.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/index_admin.css' %}">
<div class="col-md-10">

    <div class="content-box-large">

      <div class="panel-heading">
        <div class="panel-title">Lista de Produtos</div>
      </div>

      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Data de Cadastro</th>
              <th>Nome</th>
              <th>Descrição</th>
              <th>Valor</th>
              <th>Observação</th>
              <th>Categoria</th>
              <th>Imagem</th>
            </tr>
          </thead>
          <tbody>
            {% for produto in produtos %}
            <tr>
              <td>{{ produto.data}}</td>
              <td>{{ produto.nome }}</td>
              <td>{{ produto.descricao }}</td>
              <td>{{ produto.valor }}</td>
              <td>{{ produto.observacao }}</td>
              <td>{{ produto.categoria }}</td>
        <td><img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" width="100"></td>
        <td>
  <a href="{% url 'EDITAR_PRODUTO_URL' produto.id %}" class="btn btn-sm btn-warning">Editar</a>
  <a href="{% url 'EXCLUIR_PRODUTO_URL' produto.id %}" class="btn btn-sm btn-warning" onclick="return confirm('Tem certeza que deseja excluir este produto?');">Excluir</a>
</td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
</div>