{% include 'header-admin.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/index_admin.css' %}">

<div class="col-md-10">
  <div class="content-box-large">
    <div class="panel-heading">
      <div class="panel-title">Categorias Cadastradas</div>
    </div>

    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Data de Criação</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for categoria in categorias %}
          <tr>
            <td>{{ categoria.nome }}</td>
            <td>{{ categoria.dt_criacao|date:"d/m/Y H:i" }}</td>
            <td>
              <a href="{% url 'EDITAR_CATEGORIA_URL' categoria.id %}" class="btn btn-sm btn-warning">Editar</a>
              <a href="{% url 'EXCLUIR_CATEGORIA_URL' categoria.id %}" class="btn btn-sm btn-warning" onclick="return confirm('Tem certeza que deseja excluir esta categoria?');">Excluir</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
